@use "../../Shared/css/template/dtm/components/banner";
@use "../../Shared/css/template/dtm/utils/scope";
@use "../models/colors";
@use "../models/fonts";

.deal {
    @include banner.model(".banner", colors.get(fourth)) {
        font-size: 2.8rem;
        padding: 0.1em;

        > span {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    };

    &__discount {
        width: 6em;
        margin: -2em 0.25em;

        text {
            font-size: 2.25em;
            stroke: colors.get(fourth);
            fill: white;
            text-anchor: middle;

            @supports (paint-order: stroke) {
                stroke-width: 0.1em;
                paint-order: stroke fill;
            }
        }
    }
}

@include scope.for-portrait {
    .deal {
        &__banner {
            margin-top: 0;
            font-size: 5.75vmin;
        }

        &__discount {
            text {
                font-size: 2.75em;
            }
        }
    }
}

@include scope.for-landscape {
    .deal {
        &__banner {
            font-size: 6vmin;
        }

        &__discount {
            text {
                font-size: 2.5em;
            }
        }
    }
}

.nav {
    &__promo {
        flex: 1 1 100%;
        text-align: center;

        .banner {
            margin: 0;
        }
    }
}

@keyframes display-promo-banner {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@include scope.for-desktop {
    .nav {
        &__promo {
            display: none;
            animation: display-promo-banner .3s ease-in-out forwards;
        }

        &--is-fixed {
            .nav__promo {
                display: block;
            }
        }
    }
}